* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --primary:#8B0000;
    --secundary:#FFFFFF;
    --gradient-dark:linear-gradient(135deg, #c8102e, #e53935);
    --gradient-light:linear-gradient(135deg, #e53935 0%, #c62828 100%);
    --fire:linear-gradient(135deg,#dc2626 0%, #f97316 50%, #fbbf24);
    --radius: 24px;
  }

  html, body {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
  }

  .header {
    background: rgba(139, 0, 0, 0.85);
    backdrop-filter: blur(14px);
    position: relative;
    z-index: 1000;
  }
  
  .header .logo img {
    border-radius: 12px;
    box-shadow:
      0 0 8px rgba(255, 0, 0, 0.6),
      0 0 18px rgba(255, 60, 60, 0.7),
      0 0 40px rgba(255, 120, 120, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: brilho 3s infinite;
  }
  
  .header .logo img:hover {
    transform: scale(1.05);
    box-shadow:
      0 0 12px rgba(255, 0, 0, 0.9),
      0 0 30px rgba(255, 60, 60, 0.9),
      0 0 60px rgba(255, 120, 120, 0.9);
  }
  

  .header-content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    
  }

  .nav {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
  
  .nav a {
    position: relative;
    text-decoration: none;
    color: var(--secundary);
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius);
    box-shadow: #000 0px 2px 3px 0px;
  }
  
  .nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background: var(--fire);
    border-radius: 999px;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav a:hover {
    color: #fff;
    text-shadow:
      0 0 8px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
      box-shadow:
    0 0 5px rgba(255, 0, 0, 0.8),
    0 0 10px rgba(255, 0, 0, 0.8),
    0 0 20px rgba(255, 40, 40, 0.9),
    0 0 40px rgba(255, 80, 80, 0.8);
      
  }
  
  .nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
    box-shadow:
      0 0 6px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
  }
  
  .nav a.active {
    color: #fff;
    text-shadow:
      0 0 8px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
  }
  
  .nav a.active::after {
    transform: translateX(-50%) scaleX(1);
    box-shadow:
      0 0 6px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
  }

  .nav a.fale-conosco {
    background: #25d366;
    color: #fff;
  }

  .nav a.fale-conosco::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    animation: pulse 1.5s infinite;
    transition: all 0.3s ease;
    border-radius: inherit;
 }

  /* Hamburger Menu Styles */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--secundary);
    transition: all 0.3s ease;
    border-radius: 2px;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  
  .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 120px;
  }

  #big-icon-whatsapp {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: fixed;
    left: 80%;
    top: 88%;
    z-index: 2;
    border-radius: 100%;
  }

  #big-icon-whatsapp.wrapper {
    width: 60px !important;
    height: 60px !important;
    padding: 0 !important;
    display: flex !important;
  }
  
  #big-icon-whatsapp .icon {
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
    background: var(--secundary); 
  }  
  

  #big-icon-whatsapp li {
    list-style: none;
    width: 100%;
    height: 100%;
  }
  
  #big-icon-whatsapp li a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #big-icon-whatsapp li a svg {
    width: 100%;
    height: 100%;
  }
  
  #big-icon-whatsapp::before{
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    animation: pulse 1.5s infinite; 
    transition: all 0.3s ease;
    border-radius: 100%;
  }

  .carrossel {
    position: relative;
    width: 90vw;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
  }
  
  .track {
    display: flex;
    transition: transform 0.8s ease;
  }
  
  .slide {
    min-width: calc(100% / 3);
    flex-shrink: 0;
    height: 350px;
    display: flex;
    border-radius:20px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient-light);
    box-sizing: border-box;
    border-right: 4px solid var(--secundary);
    position: relative;
    overflow: hidden;

  }

  .slide .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: height 0.3s ease;
    height: 50px;
    overflow: hidden;
  }

  .slide .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .slide .description {
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .slide:hover .overlay {
    height: 175px;
  }

  .slide:hover .description {
    opacity: 1;
  }

  #slide1{
    background-image: url("assets/fotos-redimensionadas/recarga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #slide2{
    background-image: url("assets/fotos-redimensionadas/manometro300.png");
    background-size: cover;
    background-repeat: no-repeat;

  }

  #slide3{
    background-image: url("assets/fotos-redimensionadas/sistemaHidraulico.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  #slide4{
    background-image: url("assets/fotos-redimensionadas/alarme.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  #slide5{
    background-image: url("assets/fotos-redimensionadas/ppci.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  #slide6{
    background-image: url("assets/fotos-redimensionadas/Equipamentos-de-incendio.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  #slide7{
    background-image: url("assets/fotos-redimensionadas/inspecao-mangueira\ de\ incendio.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  #slide8{
    background-image: url("assets/fotos-redimensionadas/treinamento.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  #slide9{
    background-image: url("assets/fotos-redimensionadas/pintura.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .prev { left: 10px; }
  .next { right: 10px; }

.parceiros{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 35%;
  
}
  
.parceiros h3 {
  margin-bottom: 2rem;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.5em;

  }

  /*Configurações do slider parceiria*/
  .slider{  
    width: 90vw;
    max-width: 1200px;
    height: var(--heigth);
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 5% 95%,
      transparent 
    );
    border-radius: 10px;
  }

  .slider .list{
    display: flex;
    width: calc((var(--width) + 20px) * var(--quantity) * 2);
    animation: autoRun 10s linear infinite;
  }

  .slider .list .item{
    width: var(--width);
    height: var(--heigth);
    margin-right: 20px;
    
  }

  .slider .list .item img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

.slider:hover .list{
    animation-play-state: paused!important;
}

.slider:hover .list .item{
    filter: grayscale(75%);
}

.slider .list .item:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: all 0.3s ease;
    z-index: 2;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--primary);
    border-radius: var(--radius);
    padding: 2.5em;
    color: var(--secundary);
  }
  
  .hero span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 1.5rem;
    width: fit-content;
    max-width: 100%;
  
    background-color: #25d366;
    color: var(--secundary);
    animation: brilho 2s infinite;
    transition: all 0.3s ease;
  
    border-radius: var(--radius);
    padding: 0.6em 1.2em;
  
    text-align: center;
  }
  

  .produtos {
    position: relative;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
    font-family: 'Playfair Display', serif;
  }

  .produtos h2 {
    margin-bottom: -47px;
    color: var(--secundary);
    font-weight: bold;
  }

 .produtos h3 {
    margin-bottom: -25px;
    color: var(--secundary);
    font-weight: bold;
  }

  .produtos .elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .produtos .div-produto{
    background: var(--primary);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    width: 12%;
    align-items: center;
    gap: 10px;
  }

.box-info {
  background: var(--primary);
  border-radius: var(--radius);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0; 
  color: var(--secundary);
  box-shadow: black 0px 2px 3px 0px;
}

.box-info span {
  margin-top: 10px;
  font-weight: bold;
}

.produtos .div-produto img {
  width: 100px;
  height: 100px;
  filter: brightness(0);
  transition: transform 0.3s ease;
}

  .produtos .div-produto:nth-child(1) {
    animation: brilho 2s infinite;
    animation-delay: 0s;
  }

  .produtos .div-produto:nth-child(2) {
    animation: brilho 2s infinite;
    animation-delay: 0.3s;
  }

  .produtos .div-produto:nth-child(3) {
    animation: brilho 2s infinite;
    animation-delay: 0.6s;
  }

  .produtos .div-produto:nth-child(4) {
    animation: brilho 2s infinite;
    animation-delay: 0.9s;
  }

  .produtos .div-produto:nth-child(5) {
    animation: brilho 2s infinite;
    animation-delay: 1.2s;
  }

  .produtos .div-produto:nth-child(6) {
    animation: brilho 2s infinite;
    animation-delay: 1.5s;
  }
  
  .produtos::before {
    background-attachment: fixed;
    content: "";
    position: absolute;
    inset: 0; 
    background-image: url("assets/fotos-redimensionadas/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(10%);
    filter: brightness(40%);
    opacity: 0.8; 
    z-index: -1;
  }

  .div-produto a {
  text-decoration: none;
  width: 100%;
  display: flex;       
  justify-content: center;
  background: transparent; 
  padding: 0;          
  box-shadow: none;    
  border-radius: var(--radius);
  }

  .div-produto a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background: var(--fire);
    border-radius: 999px;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .div-produto a:hover {
    color: #fff;
    text-shadow:
      0 0 8px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
      box-shadow:
    0 0 5px rgba(255, 0, 0, 0.8),
    0 0 10px rgba(255, 0, 0, 0.8),
    0 0 20px rgba(255, 40, 40, 0.9),
    0 0 40px rgba(255, 80, 80, 0.8);
      
  }
  
  .div-produto a:hover::after {
    transform: translateX(-50%) scaleX(1);
    box-shadow:
      0 0 6px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
  }
  
  .div-produto a.active {
    color: #fff;
    text-shadow:
      0 0 8px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
  }
  
  .div-produto a.active::after {
    transform: translateX(-50%) scaleX(1);
    box-shadow:
      0 0 6px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9),
      0 0 32px rgba(255, 120, 120, 0.8);
  }

  .div-produto a:hover .box-info {
    transform: scale(1.05); 
    background: var(--gradient-light); 
    box-shadow:
      0 0 8px rgba(255, 0, 0, 0.9),
      0 0 16px rgba(255, 60, 60, 0.9);
    transition: all 0.3s ease;
  }


  .about {
    font-family: 'Playfair Display', Georgia, serif;
    border-radius: 24px;
    padding: 48px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4);
    background: var(--primary);
    border: 5px solid rgba(220, 38, 38, 0.25);
    margin-bottom: 5em;
    color: var(--secundary);
  }

  .about h1 {
    font-size: 32px;
    font-weight: 600;
  }

  .about p{
    font-size: 18px;
  }

  .footer {
    background: var(--primary);
    padding: 2rem;
    text-align: center;
   
  }

  .footer-content h2{
    color: var(--secundary);
    margin-bottom: 0.5rem;
  }
  
  .footer-logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: var(--secundary);
    margin-bottom: 0.5rem;
  }
  
  .footer-text {
    font-size: 0.9rem;
    color: var(--secundary);
  }

  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }

  .wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #fff;
  color: #25d366;
}

.icon.whatsapp a {
    text-decoration: none;   
    color: inherit;          
    display: flex;           
    align-items: center;
    justify-content: center;
  }
  
  .icon.whatsapp a:visited {
    color: inherit;
  }

  @keyframes autoRun{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(calc(((var(--width) + 20px) * var(--quantity)) * -1));
    }
  }

  @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }
    70% {
        box-shadow: 0 0 0 30px rgba(37, 211, 102, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
    
}

@keyframes attention {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
    text-shadow:
    0 0 5px rgba(255, 0, 0, 0.8),
    0 0 10px rgba(255, 0, 0, 0.8),
    0 0 20px rgba(255, 40, 40, 0.9),
    0 0 40px rgba(255, 80, 80, 0.8)
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes brilho {
  0% {
  }
  50% {
    transform: translateY(-5px);
    box-shadow:
    0 0 5px rgba(255, 0, 0, 0.8),
    0 0 10px rgba(255, 0, 0, 0.8),
    0 0 20px rgba(255, 40, 40, 0.9),
    0 0 40px rgba(255, 80, 80, 0.8)
  }
  100% {

  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 2rem;
    width: auto;
    background: transparent;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9999;
  }

  .nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .nav a {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 0.9rem;
    background: var(--primary);
    color: var(--secundary);
    border-radius: var(--radius);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  .produtos .elementos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
 
  .produtos {
    height: auto;
  }
  
  .produtos .div-produto {
    max-width: 180px; 
    flex: 1 1 180px;
  }

  .hero {
    width: 100%;
    padding: 3em 1.5em;
  }
  
  .hero span {
    font-size: 1.2rem;
  }

  .slide .title {
    font-size: 0.9rem;
  }

  .slide .description {
    font-size: 0.7rem;
  }
  
  @media (hover: none) and (pointer: coarse) {
    /* Remove efeito hover no mobile */
    .slide:hover .overlay {
      height: 50px;
    }
  
    .slide:hover .description {
      opacity: 0;
    }
  
    /* Efeito ao TOCAR */
    .slide:active .overlay {
      height: 175px;
    }
  
    .slide:active .description {
      opacity: 1;
    }
  }
  
}

/* Adicionais para o saibamais */

.saibamais{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(50% - 30px);
  height: 80vh;
  gap: 30px;
}

#section-saibamais{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 120px;
}

.titulo-saibamais {
  width: 100%;           /* Ocupa toda largura do pai */
  text-align: center;    /* Centraliza o texto */
  margin: 0 0 40px 0;    /* Margem embaixo para separar do conteúdo */
  font-size: 2.5rem;     /* Tamanho do texto (ajuste se quiser) */
  font-weight: bold;
  color: #C8102E;        /* Cor que combine */
}

